.cs-p{
  cursor: pointer;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.bg{
  background: #f9f9f9;
}
.ff-bold{
  font-weight: bold;
}
.fs-18{
  font-size: 18px;
}
.fs-24{
  font-size: 24px;
}
.fs-30{
  font-size: 30px;
}

